$primary_color:#9356DC;
$secondary_color:#FF79DA;
$third_color:#99E2D0; 
$white : #ffffff;

@mixin radius 
{
    border-radius: 15px;    
}


body
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif ;
    margin: 0;
}

header
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header_flex
{
    display: flex;
    justify-content: space-around;
    a
    {
        padding-left: 15px;
    }
}

.header_logo
{
    width: 100%;
    text-align: center;
}
    .header_logo-img
    {
        width : 180px;
        margin : 10px;
    }

form
{
    background: #f1f1f1;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    p
    {
        margin:0 0 0 10px;
    }
}


.header_title
{
    text-align: center;
    h1
    {
            font-size: 25px;
            padding: 10px;
    }
    h2
    {
            font-size: 15px;
            font-weight: 300;
            padding: 0 15px 15px 15px;
    }
    .header_title-button
    {
        padding: 15px 20px;
        border-radius: 25px;
        border: none;
        background: $primary_color;
        a
        {
            color: $white;
        }
    }
        .header_title-button:hover
        {
            background: $secondary_color;
        }
}

a
{
    text-decoration: none;
    color: black;
}

.header_nav
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    h1
    {
        margin-left: 10px;
        font-size: 25px;
    }
    .header_nav-selector
    {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 15px;
        border-radius: 15px;
        box-shadow:1px 1px 5px #f1f1f1;
    }
        .header_nav-selector:hover 
            {
                background: lighten($primary_color, 35%);
            }
        .header_nav-icon
        {
            padding-right: 15px;
        }
        .header_nav-icon:hover
        {
            color: $primary_color;
        }
}

nav
{
display: flex;
flex-direction: column;
justify-content: center;
    h1
    {
        font-size: 25px;
        margin:15px ;
    }
}

article
{
    position: relative;
    margin: 15px 0;
    box-shadow:1px 1px 5px #f1f1f1;
    border-radius: 15px;
    width: 100%;
    figure
    {
        overflow: hidden;
        margin: 0;
        border-radius: 15px;
        img
        {
            display: inline-block;
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
    .article_txt
    {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding-left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p
            {
                text-align: end;
                display: inline;
                background: $third_color;
                font-weight: bold ;
                color: darken( $third_color, 35%);
                margin: 25px;
                padding: 5px 15px;
                border-radius: 2px;
            }
        .article_name
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: $white;
            box-shadow:1px 1px 5px #f1f1f1;
            border-radius: 0 0 15px 15px;
        }
        h3
        {
            font-size: 20px;
            font-weight: bold;
            margin: 15px;
        }
        h4
        {
            font-size: 15px;
            margin: 15px;
            font-weight: 500;
        }
        .article_icon
        {
            padding: 10px;
            margin: 15px;
        }
        .article_icon:active
        {
            color: $primary_color;
            background-color: $secondary_color;
        
        }
    }
}

footer
{
    background: darken($white, 80%);
    h1
    {
        margin: 0;
        padding: 15px 0 0 15px;
        color: $white;
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    ul
    {
        list-style: none;
        padding: 15px;
        margin: 0;
        li
        {  
            margin: 10px 0 ;  
            a
            {
                color: $white;
            }
            .footer_ul-icon
            {
                padding-right: 10px;
            }
        }
    }
}

