body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
}

@media screen and (min-width: 768px) {
  body {
    margin: auto;
    max-width: 1280px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.page {
  -webkit-animation: page 3s both;
          animation: page 3s both;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ffffff;
}

.header_flex a {
  padding-left: 15px;
}

.header_logo {
  width: 100%;
  text-align: center;
  background: #ffffff;
}

.header_logo-img {
  width: 180px;
  margin: 10px;
}

form {
  background: #f1f1f1;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 5px #666666 inset;
          box-shadow: 0 2px 5px #666666 inset;
}

form p {
  padding-left: 10px;
  margin: 0;
}

.header_title {
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .header_title {
    text-align: left;
    padding-left: 15px;
    position: relative;
  }
}

.header_title h1 {
  font-size: 25px;
  padding: 10px;
}

.header_title h2 {
  font-size: 15px;
  font-weight: 300;
  padding: 0 15px 15px 15px;
}

.header_title .header_title-button {
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 37%, #ff79da 100%);
}

@media screen and (min-width: 1080px) {
  .header_title .header_title-button {
    position: absolute;
    top: 40px;
    left: 550px;
  }
}

.header_title .header_title-button:hover {
  background: #9356dc;
  background: linear-gradient(142deg, #9356dc 37%, #ff79da 100%);
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .header_nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1080px) {
  .header_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header_nav h1 {
  margin: 20px;
  font-size: 25px;
}

.header_nav .header_nav-selector {
  margin: 15px 25px;
  background: #f7f7f7;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 5px #e6e6e6;
          box-shadow: 2px 4px 5px #e6e6e6;
  position: relative;
  width: 90%;
  max-width: 350px;
}

.header_nav .header_nav-number {
  background: #9356DC;
  color: #ffffff;
  border-radius: 25px;
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  left: -10px;
}

.header_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  width: auto;
  padding: 5px 20px;
}

.header_nav a p {
  font-weight: bold;
  font-size: 16px;
}

.header_nav a:hover {
  background: #f2eafb;
  border-radius: 15px;
}

.header_nav a:hover p {
  color: black;
}

.header_nav a:hover .header_nav-icon {
  color: #9356DC;
}

.header_nav .header_nav-icon {
  padding: 0 15px;
  color: #b3b3b3;
}

footer {
  background: #333333;
  height: 200px;
}

footer h1 {
  margin: 0;
  padding: 20px 0 0 25px;
  color: #ffffff;
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

footer ul {
  list-style: none;
  padding: 15px 0 0 25px;
  margin: 0;
}

footer ul li {
  margin: 10px 0;
}

footer ul li a {
  color: #ffffff;
}

footer ul li .footer_ul-icon {
  padding-right: 10px;
  font-size: 15px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
}

nav h1 {
  font-size: 25px;
  margin: 40px 0 10px 15px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  nav h1 {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 15px;
    margin: 20px 0 20px 15px;
  }
}

article {
  position: relative;
  margin: 15px 0;
  -webkit-box-shadow: 1px 1px 5px #a6a6a6;
          box-shadow: 1px 1px 5px #a6a6a6;
  width: 95%;
  margin-left: 10px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  article {
    width: 45%;
    margin-top: 60px;
  }
}

article figure {
  overflow: hidden;
  margin: 0;
  border-radius: 15px;
}

article figure img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

article .article_txt p {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background: #99E2D0;
  font-weight: bold;
  color: #2c9c81;
  margin: 25px;
  padding: 5px 15px;
  border-radius: 2px;
}

article .article_txt .article_name {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 5px #f1f1f1;
          box-shadow: 1px 1px 5px #f1f1f1;
  border-radius: 0 0 15px 15px;
}

article .article_txt h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 5px 15px;
}

article .article_txt h4 {
  font-size: 15px;
  margin: 5px 0 15px 15px;
  font-weight: 500;
}

article .article_like {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  right: 25px;
  font-size: 25px;
}

article .article_like .article_heart-line {
  position: absolute;
  bottom: 0;
  right: 2px;
}

article .article_like .article_heart-full {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

article .article_like:active .article_heart-line {
  display: none;
}

article .article_like:active .article_heart-full {
  opacity: 1;
  display: inline;
  background: -webkit-linear-gradient(90deg, #ff79da 6%, #9356dc 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_title-button {
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  margin: 0 0 15px 0;
  color: #ffffff;
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 37%, #ff79da 100%);
}

@media screen and (min-width: 1080px) {
  .header_title-button {
    position: absolute;
    top: 40px;
    left: 550px;
  }
}

.header_title-button:hover {
  background: #9356dc;
  background: linear-gradient(142deg, #9356dc 37%, #ff79da 100%);
  -webkit-box-shadow: 2px 2px 3px #b3b3b3;
          box-shadow: 2px 2px 3px #b3b3b3;
}

.section_button {
  margin: 25px;
  padding: 15px 45px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 37%, #ff79da 100%);
}

.section_button:hover {
  background: #9356dc;
  background: linear-gradient(142deg, #9356dc 37%, #ff79da 100%);
  -webkit-box-shadow: 2px 2px 3px #b3b3b3;
          box-shadow: 2px 2px 3px #b3b3b3;
}

.section_carte-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 6px #cccccc;
          box-shadow: 2px 2px 6px #cccccc;
  margin: 15px 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-animation: menu_poping 1000ms;
          animation: menu_poping 1000ms;
  border-radius: 15px;
}

.section_carte-flex div {
  width: 65%;
  margin-left: 10px;
  font-size: 15px;
}

.section_carte-flex div h3, .section_carte-flex div h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 5px;
  font-size: 15px;
}

.section_carte-flex div h4 {
  font-weight: 500;
}

.section_carte-flex:hover {
  padding-right: 70px;
}

.section_carte-flex:hover .section_carte-anim {
  right: 0;
}

.section_carte-flex:hover .fa-check {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.section_carte-anim {
  position: absolute;
  right: -70px;
  height: 100%;
  width: 70px;
  color: #99E2D0;
  background: #99E2D0;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.section_carte-anim .fa-check {
  position: absolute;
  left: 20px;
  bottom: 19px;
  background: #ffffff;
  padding: 5px;
  border-radius: 15px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@-webkit-keyframes menu_poping {
  10% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    opacity: 1;
  }
  40% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
    opacity: 0;
  }
  90% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 0.7;
  }
}

@keyframes menu_poping {
  10% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    opacity: 1;
  }
  40% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
    opacity: 0;
  }
  90% {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 0.7;
  }
}

.loader {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  background: #ffffff;
  text-align: center;
  -webkit-animation: loader 3s both;
          animation: loader 3s both;
}

.loader .plate {
  position: absolute;
  top: 50%;
  margin-top: -64px;
  margin-left: -64px;
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #99E2D0;
  border: 3px solid #c1ede2;
  -webkit-box-shadow: 1px 1px 5px #a6a6a6;
          box-shadow: 1px 1px 5px #a6a6a6;
  -webkit-animation: lds-circle 1.5s 0.2s cubic-bezier(0, 0.2, 0.8, 1) 2 both;
          animation: lds-circle 1.5s 0.2s cubic-bezier(0, 0.2, 0.8, 1) 2 both;
}

.loader .plate div {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 24px;
  border-radius: 50%;
  background: #4acbab;
  -webkit-box-shadow: 2px 2px 4px inset #32b091;
          box-shadow: 2px 2px 4px inset #32b091;
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(900deg);
            transform: rotateY(900deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  99% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(900deg);
            transform: rotateY(900deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  99% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@-webkit-keyframes page {
  0% {
    opacity: 0;
    height: 0;
  }
  99% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes page {
  0% {
    opacity: 0;
    height: 0;
  }
  99% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    height: 100vh;
  }
  99% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    height: 100vh;
  }
  99% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

section .section_title h1 {
  margin: 20px;
  font-size: 25px;
  font-family: 'shrikhand', Arial, Helvetica, sans-serif;
}

section .section_title a {
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: relative;
}

section .section_title a .article_heart-line {
  position: absolute;
}

section .section_title a .article_heart-full {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

section .section_title a:active .article_heart-line {
  display: none;
}

section .section_title a:active .article_heart-full {
  opacity: 1;
  display: inline;
  background: -webkit-linear-gradient(90deg, #ff79da 6%, #9356dc 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_article {
  margin: 0;
  width: 100%;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
}

.section_article .section_figure {
  overflow: hidden;
  margin: 0;
  border-radius: 0;
  width: 100%;
  position: absolute;
}

.section_article .section_figure img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.section_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-top: 255px;
  z-index: 1;
  background: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .section_menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section_menu .section_carte {
  width: 80%;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .section_menu .section_carte {
    width: 40%;
    height: 430px;
  }
}

@media screen and (min-width: 1080px) {
  .section_menu .section_carte {
    width: 30%;
  }
}

.section_menu .section_carte h2 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 2px #99E2D0 solid;
  width: 50px;
}

.section_menu .section_carte-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 25px;
}
/*# sourceMappingURL=main.css.map */