header
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header_flex
{
    display: flex;
    justify-content: space-around;
    background: $white;
    a
    {
        padding-left: 15px;
    }
}

.header_logo
{
    width: 100%;
    text-align: center;
    background: $white;
}
    .header_logo-img
    {
        width : 180px;
        margin : 10px;
    }

form
{
    background: #f1f1f1;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    box-shadow:0 2px 5px darken($white, 60%) inset;
    p
    {
        margin:0 0 0 10px;
    }
}


.header_title
{
    text-align: center;
    @media screen and(min-width: 1080px)
            {
                text-align: left;    
                padding-left: 15px;
                position: relative;
            }
    h1
    {
            font-size: 25px;
            padding: 10px;
    }
    h2
    {
            font-size: 15px;
            font-weight: 300;
            padding: 0 15px 15px 15px;
    }
    .header_title-button
    {
        padding: 15px 20px;
        @include radius(25px);
        border: none;
        margin:0 0 15px 0;
        background: rgb(147,86,220);
        background: linear-gradient(354deg, rgba(147,86,220,1) 37%, rgba(255,121,218,1) 100%);
        @media screen and(min-width: 1080px)
        {
            position: absolute;  
            top: 40px;
            left: 550px;
        }
        a
        {
            color: $white;
        }
    }
    .header_title-button:hover
    {
        background: rgb(147,86,220);
        background: linear-gradient(142deg, rgba(147,86,220,1) 37%, rgba(255,121,218,1) 100%);
    }
}

.header_nav
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: $white;
    @media screen and (min-width: 1080px)
    {
        flex-direction: row;
        justify-content: space-between;
    }
    
    h1
    {
        margin-left: 10px;
        padding-right: 15px;
        font-size: 25px;
    }
    .header_nav-selector
    {
        margin: 10px;
        background: darken($white, 3%);
        @include radius;
        box-shadow:1px 1px 5px darken($white,8%);
        position: relative;
        width: 90%;
        @media screen and(min-width: 1080px)
        {
            padding-right: 10px;
        }
    }
    .header_nav-number
    {
        background: $primary_color;
        color: $white;
        @include radius(25px);
        font-size: 15px;
        padding:5px 10px ;
        position: absolute;
        left: -10px;
    }
    a
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 40px;
        width: auto;
    }
    a:hover
    {
        background: lighten($primary_color, 35%);
        color: $primary_color;
        @include radius;
        p
        {
            color: black;
        }
    }
    .header_nav-icon
    {
        padding-right: 15px;
    }
}