.section_carte-flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: $white;
    box-shadow:2px 2px 6px darken($white, 20%);
    margin:15px 0;
    transition: all 300ms;
    animation: menu_poping 1000ms;
    @include radius;
    div
    {
        width: 65%;
        margin-left: 10px;
        font-size: 15px;
        h3, h4
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            margin: 10px 5px;
            font-size: 15px;
        }
        h4
        {
            font-weight: 500;
        }
    }
    &:hover
    {
        padding-right: 70px;
        .section_carte-anim
        {
            right: 0;
        }
        .fa-check
        {
            transform: rotate(-360deg);
        }
    }
}

.section_carte-anim
{
    position: absolute;
    right: -70px;
    height: 100%;
    width: 70px;
    color: $third_color;
    background: $third_color;
    font-size: 20px;
    border-radius: 0 15px 15px 0;
    transition: all 300ms;
    .fa-check
    {
        position: absolute;
        left: 20px;
        bottom: 19px;
        background: $white;
        padding: 5px;
        @include radius;  
        transition: all 300ms;      
    }
}

@keyframes menu_poping
{
    10%
    {
        transform-origin: 0% 0%;
        transform: scaleY(0.1);
        opacity: 1;
    }
    40%
    {
        transform-origin: 0% 0%;
        transform: scaleY(0.6);
        opacity: 0;
    }
    90%
    {
        transform-origin: 0% 0%;
        transform: scaleY(1);    
        opacity: 0.7;
    }
}

.loader 
{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateZ(1px);
    background: $white;
    text-align: center;
    animation: loader 3s both;
    .plate
    {
        position: absolute;
        top: 50%;
        margin-top: -64px ;
        margin-left: -64px;
        display: inline-block;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background: $third_color;
        border: 3px solid lighten($third_color, 10%);
        box-shadow: 1px 1px 5px darken($white,  35%);
        animation: lds-circle 1.5s 0.2s cubic-bezier(0, 0.2, 0.8, 1) 2 both;
        div
        {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 24px;
            border-radius: 50%;
            background: darken($third_color, 20%);
            box-shadow:2px 2px 4px inset darken($third_color,30%);
        }
    }
}

@keyframes lds-circle 
{
    0%, 100% 
    {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% 
    {
        transform: rotateY(0deg);
    }
    50% 
    {
        transform: rotateY(900deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    99% 
    {
        transform: rotateY(1800deg);
    }
    100%
    {
        transform: translateX(-9999px);
    }
}

@keyframes page 
{
    0%
    {   
        opacity: 0;
        height: 0;
    } 
    99%
    {   
        opacity: 0;
        height: 0;
    }    
    100%
    {
        opacity: 1;
        height: 100%;
    }
}
  

@keyframes loader
{
    0%
    {   
        opacity: 1;
        height: 100vh;
    }   
    99%
    {   
        opacity: 1;
        height: 100vh;
    }  
    100%
    {
        opacity: 0;
        height: 0;
    }
}